# jekyll generated locally
Gemfile.lock
_site/

# pdflatex and make4ht auxiliary
*.aux
*.bbl
*.blg
*.log
*.out
*.4ct
*.4tc
*.dvi
*.idv
*.lg
*.tmp
*.xref

# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
